body {
	margin: 0;
}

body, html {
	background: url("../img/maniaplanet.jpg") center center;
	background-size: cover;
	background-attachment: fixed;
}
header {
	height: 150px;
	text-align: center;
	color: white;
}

header h1 {
	padding-top: 3em;
	
}
#main {	
	width: 900px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
	padding: 1em;
}

#chat {	
	height: 300px;
	width: 700px;
	display: inline-block;
	float:left;
	overflow-y: scroll;
	overflow-style: marquee, marquee;
	border-bottom: 1px solid black;
	margin-bottom: 0.5em;
}
#players {
	margin: 0 auto;
	width: 200px;
	display: inline-block;
	float:left;	
	font-family: 'Sergoe UI'
}

#players h3 {
	font-size: 12pt;	
}

#game, #web {	
	height: 220px;	
}

#input {
	clear: both;		
}
#message {
	border: 1px solid black;
	width: 499px;
	background: rgba(255,255,255,0.5);
}
.player {
	border: 1px solid #fff;
	color: black;
	background: rgba(0,0,0,0.1);
	border-radius: 10px;
	padding: 0.1em;
	padding-left: 0.75em;
	margin: 0.15em;
	font-size: 11pt;	
}
#showNick {
	margin-left: 15px;		
	margin-right: 5px;
	display: inline-block;
	max-width: 170px;
	text-align: right;
	border: none;
	overflow: auto;	
}

.disableSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}

footer {
	clear: both;	
	width: 900px;
	margin: 0 auto;
	font-size: 9pt;
	margin-top: 1em;
	text-align: center;
	color: #0a4079;
	font-family: Arial,Helvetica,sans-serif;
}

.ui-accordion .ui-accordion-content {
	padding: 0 !important;	
}
